body {
  margin: 0px;
  padding: 5px;
}

.centered {
  text-align: center;
}

ul.file-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

li.file-card[data-status="used"] {
  background: #ffb;
}

li.file-card[data-status="full"] {
  background: #dfd;
}

li.file-card {
  list-style: none;
  width: 25em;
  height: 12em;
  background: #eee;
  margin: 3px;
  padding: 0px;
  border: 2px solid black;
}

div.flip-back {
  display: grid;
  background-color: #fff;
  grid-template-rows: 80% 20%;
  height: 100%;
}

div.flip-front {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

div.flip-front a,
div.flip-front span {
  display: block;
  border: 1px solid #888;
  margin: 2px;
  padding: 5px;
}

div.flip-front .p-service {
  font-size: 230%;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}
div.flip-front .p-amount {
  font-size: 170%;
  grid-row-start: 2;
  grid-column-start: 1;
}
div.flip-front .p-expiry {
  font-size: 150%;
  grid-row-start: 2;
  grid-column-start: 2;
}

div.flip-front .p-flip {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
  background: #ddd;
  border: 4px solid #888;
  border-top: solid #eee;
  border-left: solid #eee;
  padding: 10px;
  font-size: 170%;
}

div.flip-back .p-use {
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
}

div.flip-back .p-hide {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

div.flip-back .p-img {
  display: block;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  max-height: calc(100% - 30px);
  max-width: calc(100% - 30px);
  margin: 20px;
}

div.flip-back .p-download {
  background-color: red;
  display: block;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

div.flip-back.invisible,
div.flip-front.invisible {
  display: none;
}

.auth-button {
  display: block;
  max-width: 70%;
  margin: 20px auto;
  background: grey;
  text-align: center;
  padding: 50px 0px 50px 0px;
  font-size: 200%;
}

div.input-modal {
  border: 1px solid black;
  margin: 20px;
  padding: 10%;
  text-align: center;
}

div.input-modal button {
  margin: 10px;
  padding: 10px;
}

.input-modal input {
  margin: 10px;
  padding: 10px;
}

.input-modal input:invalid {
  background-color: #fdd;
}
.input-modal input:invalid:required {
  background-image: #fdd;
}
.input-modal input:valid {
  background-image: #dfd;
}
